
.card {
    display: flex;
    img {
        width: 50;
        height: 50px;
    }
    div {
        display: inline-block;
        p {
            margin-left: 10px;
            margin-bottom: 0.5em;
            text-align: left;
        }
    }
    &:hover {
        cursor: pointer;
    }
}